<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical Records</title>
</head>
<body>
<h1>Records</h1>
<ul>
{% if record_list.records.exists %}
    {% for record in record_list.records %}
        <li>
            <strong>Diagnosis:</strong> {{ record.diagnosis }}<br>
            <strong>Treatment:</strong> {{ record.treatment }}<br>
            <strong>Notes:</strong> {{ record.notes }}<br>
            <strong>Report:</strong> {{ record.report }}<br>
        </li>
        <form action="/record/" method="POST">
        {% csrf_token %}
        {{ record_form }}
         <input type="hidden" name="appointment_id" value="{{ record_list.appointment_id }}">
         <input type="hidden" name="patient_id" value="{{ record_list.appointment.patient.id }}">
         <input type="hidden" name="doctor_id" value="{{ doctor_info.id }}">
         <input type="hidden" name="type" value="update">
        <button>Edit</button>
        </form>
    {% endfor %}
{% else %}
    <li>No medical records found for this appointment.</li>
    <form action="/record/" method="POST">
        {% csrf_token %}
        {{ record_form }}
        <input type="hidden" name="appointment_id" value="{{ record_list.appointment_id }}">
        <input type="hidden" name="patient_id" value="{{ record_list.appointment.patient.id }}">
        <input type="hidden" name="doctor_id" value="{{ doctor_info.id }}">
        <input type="hidden" name="type" value="create">
        <button>Create</button>
        </form>
{% endif %}
</ul>
</body>
</html>
